[submodule "go-dollar-quotation-api"]
	path = go-dollar-quotation-api
	url = https://github.com/ItaloG/go-dollar-quotation-api.git
[submodule "busca-cep-multthreading"]
	path = go-busca-cep-multithreading
	url = https://github.com/ItaloG/go-busca-cep-multithreading.git
[submodule "go-clean-architecture"]
	path = go-clean-architecture
	url = https://github.com/ItaloG/go-clean-architecture.git
[submodule "go-rate-limiter-challenge"]
	path = go-rate-limiter-challenge
	url = https://github.com/ItaloG/go-rate-limiter-challenge.git
[submodule "go-stress-test-challenge"]
	path = go-stress-test-challenge
	url = https://github.com/ItaloG/go-stress-test-challenge.git
